.contact-table{
   margin-top: 150px;
   margin-left: 30px;
   margin-right: 30px;
}

.head-table-row{
   background-color: rgba(248, 167, 16, 0.915);
}

.data-row{
  cursor: pointer;
}

.table-cell{
   font-size: 17px !important;
   font-family: "jost" !important;
   text-transform: capitalize !important;
}



.progress-bar{
  width: 100%;
  margin-top: 20px;
}

 .action{
   margin-left: 200px !important;
}

.edit-btn{
   padding: 7px 20px;
   border: none;
   font-weight: 500;
   background-color: rgb(9, 122, 236) ;
   color: white;
   border-radius: 3px;
   cursor: pointer;
   font-size: 15px;
}

.edit-btn:hover{
  
   background-color: rgb(23, 137, 251) ;
}

.delete-btn{
   padding: 7px 20px;
   border: none;
   font-weight: 500;
   background-color: rgb(228, 101, 3) ;
   color: white;
   border-radius: 3px;
   cursor: pointer;
   font-size: 15px;
}

.delete-btn:hover{
   background-color: rgb(250, 113, 8) ;
}